@import "palette";

body{
  display: flex;
  justify-content: center;
  background-color: $graphit-lighter;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 16px;


}
.container{
  width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}